<!-- <div class="favorite" *ngFor='let pokemon of list; let i = index' >
  <div *ngIf="pokemon.favoriteMovie">
  <img class="movie-poster" src="http://image.tmdb.org/t/p/w1280/{{ pokemon.poster_path }}" > 
  <h2>{{ pokemon.title }} </h2>
  <button *ngIf="pokemon.moreInfo"(click)='requestMoreInfo(pokemon)'>-</button>
  <button *ngIf="!pokemon.moreInfo"(click)='requestMoreInfo(pokemon)'>+</button>
  <p *ngIf="pokemon.moreInfo">{{ pokemon.overview }}</p>

  
  <button *ngIf="pokemon.favoriteMovie" (click)='favoriteThisMovie(pokemon)'>Remove from list</button>
    
</div>
</div> -->


<div class="movie-list">
  <div  [ngClass]="{'favorite': pokemon.favoriteMovie === true}" *ngFor='let pokemon of list; let i = index' >
      <div class="movie-item" *ngIf="pokemon.favoriteMovie">
    <div class="movie-image">
      <img class="movie-poster" src="http://image.tmdb.org/t/p/w1280/{{ pokemon.poster_path }}" > 
    </div>
    <div class="movie-info">
      <div>
    <h2>{{ pokemon.title }} </h2>
    <div class="average" [ngClass]="{'favorite-average': pokemon.favoriteMovie === true}">
    <h3>{{ pokemon.vote_average }}</h3>
    </div>
    <button class="less-info" *ngIf="pokemon.moreInfo"(click)='requestMoreInfo(pokemon)'>&#x226A; Less info</button>
    <button class="more-info" *ngIf="!pokemon.moreInfo"(click)='requestMoreInfo(pokemon)'>&#x226B; More info</button>
    <p [ngClass]="{'favorite': pokemon.favoriteMovie === true}" *ngIf="pokemon.moreInfo">{{ pokemon.overview }} 
      <br> Release Year: {{pokemon.releaseYear}}</p>
  </div>
    <div class="div-favorite-button">
    <button class="favorite-button" *ngIf="!pokemon.favoriteMovie" (click)='favoriteThisMovie(pokemon)'>&#x226B; Add to my watch list</button>
    <button class="unfavorite-button" *ngIf="pokemon.favoriteMovie" (click)='favoriteThisMovie(pokemon)'>&#x226B; Remove from list</button>
    </div>
    </div>
  </div>
  </div>
  </div>