.movie-item {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.movie-info {
    background-color: white;
    width: 800px;
    padding: 30px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px 20px 0px 0px;
    min-height: 203.5px;
}

button {
    display: block;
    border: none;
    font-family: 'Roboto', sans-serif;
    margin: 20px 0px 0px 0px;
    padding: 0px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.less-info {
    color: gray;
    font-size: 15px;
}

.more-info {
    color: black;
    font-size: 15px;
}

.favorite-button {
    font-weight: 800;
    font-size: 18px;
    color: white;
    background-color: gray;
    height: 50px;
    width: 830px;
    margin-top: auto;
    border-radius: 20px 0px 0px 0px;
}

.unfavorite-button {
    font-weight: 800;
    font-size: 18px;
    color: white;
    background-color: rgb(237, 65, 60);
    height: 50px;
    width: 830px;
    margin-top: auto;
    margin-bottom: 0px;
    border-radius: 20px 0px 0px 0px;
}

.div-favorite-button {
    margin-bottom: 0px;
    padding-bottom: 0px; 
}

.average {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    color: white;
    padding: 5px;
}


.favorite {
    color: rgb(237, 65, 60);
}

.favorite-average {
    background-color: rgb(237, 65, 60);
}