img {
    height: 90px;
    margin-top: 0px;
    margin-left: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
}

.header {
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: linear-gradient(to right, black, #383838);
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}


